.tggl-btn{
    position: relative;
    width: 60px;
    height: 30px;
    background: #C74800;
    -webkit-appearance: none;
    border-radius: 15px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.tggl-btn:checked{
    background: #04C700;
}

.tggl-btn::before{
    z-index: 2;
    position: absolute;
    content: "";
    top: 2.5px;
    left: 3px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;
}

.tggl-btn:checked::before{
    left: 32px;
}

.tmbl-tggl{
    position: relative;
    display: inline;
    top: 3px;
    left: 10px;
}

/* label{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    pointer-events: none;
} */

.onbtn{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    pointer-events: none;
    bottom: 3px;
    left: 8px;
}

.offbtn{
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    pointer-events: none;
    bottom: 3px;
    right: 8px;
}

.tombol{
    position: relative;
    left: 700px;
    bottom: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tombol{
        padding-top: 1rem;
        left: 0;
        bottom: 0;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .tombol{
        left: 230px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .tombol{
        left: 400px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .tombol{
        left: 580px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .tombol{
        left: 700px;
    }
  }